@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: ;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

#cta{
    background-image: ;
}